<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>First Name</key>
		<string>Alfred</string>
		<key>Last Name</key>
		<string>Bester</string>
	</dict>
	<dict>
		<key>First Name</key>
		<string>Arthur</string>
		<key>Last Name</key>
		<string>Clarke</string>
	</dict>
	<dict>
		<key>First Name</key>
		<string>Isaac</string>
		<key>Last Name</key>
		<string>Asimov</string>
	</dict>
	<dict>
		<key>First Name</key>
		<string>Greg</string>
		<key>Last Name</key>
		<string>Egan</string>
	</dict>
	<dict>
		<key>First Name</key>
		<string>Frank</string>
		<key>Last Name</key>
		<string>Herbert</string>
	</dict>
	<dict>
		<key>First Name</key>
		<string>Poul</string>
		<key>Last Name</key>
		<string>Anderson</string>
	</dict>
	<dict>
		<key>First Name</key>
		<string>Kim</string>
		<key>Last Name</key>
		<string>Robinson</string>
	</dict>
	<dict>
		<key>First Name</key>
		<string>Neil</string>
		<key>Last Name</key>
		<string>Stephenson</string>
	</dict>
</array>
</plist>
